* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Konkhmer Sleokchher', sans-serif;
    background-color: #f3f1e6;
    color: #333;
    line-height: 1.6;
}

.contenido-principal {
    width: 100%;
}

.seccion {
    padding: 60px 8%;
}

.nosotros {
    background-color: #bfeee6;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nosotros .titulo-seccion {
    font-family: 'Konkhmer Sleokchher', Arial, sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height :0.85em;
    color: #6a4ca3;
    max-width: 500px;
}

.nosotros .descripcion {
    max-width: 520px;
    font-size: 15px;
    color: #563484;
}

.descripcion{
    font-family: Kameron;
    line-height: 1rem;
}

.servicios {
    background-color: #f3f1e6;
}

.servicios .titulo-seccion {
    font-size: 60px;
    color: #b45a3c;
    margin-bottom: 40px;
}

.lista-servicios {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.lista-servicios {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;

}

.servicio-card {
    background-color: #ffffff;
    padding: 22px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicio-card:hover {
    transform: translateY(-6px);
}

.servicio-titulo {
    font-size: 25px;
    color: #b45a3c;
    margin-bottom: 10px;
}

.servicio-descripcion {
    font-size: 14px;
    color: #5C2D1F;
    line-height: 1.5;
    font-family: Kameron;
}

.servicio:hover {
    transform: translateY(-5px);
}


.contacto {
    background-color: #E3C1EE;
    text-align: center;
}

.contacto .titulo-seccion {
    font-size: 90px;
    color: #5b3d91;
    margin-bottom: 20px;
}

.dato-contacto {
    font-size: 16px;
    margin: 6px 0;
    font-family: Kameron;
    color: #563484;
    
}

.telefono {
    font-size   :36px;
    
}

.numero {
      font-family: "Archivo Black", sans-serif;

}

.icono-red {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icono-red:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

.social-instagram {
    background: #FAE6FF;
}

.social-facebook {
    background: #FAE6FF;
}

.pie-pagina {
    background-color: #5b3d91;
    padding: 15px;
    text-align: center;
    font-family: Kameron;
}

.Redes {
    font-family: Kameron;
    font-size: 36px;
    color: #563484;
}

.texto-footer {
    font-family: Kameron;
    color: #e6c8f4;
    font-size: 14px;
}

@media (max-width: 768px) {
    .nosotros .titulo-seccion {
        font-size: 32px;
    }

    .servicios .titulo-seccion {
        font-size: 28px;
    }

    .contacto .titulo-seccion {
        font-size: 26px;
    }
}
